- unless licservers.empty? || licservers.nil?
	- licservers.each do |licserver|
		.panel.panel-default{ :data => { :id => licserver.id, :init => 'false' } }
			.panel-heading
				%h4.panel-title
					%a{ :data => { :toggle => 'collapse', :parent => '#licserver-listings' }, :href => '#licserver' + licserver.id.to_s } 
						= licserver.port.to_s + '@' + licserver.server
			.panel-body.collapse{ :id => 'licserver' + licserver.id.to_s }
				.accordion-inner
					.links
						- if ads_user_signed_in? then
							= watch_icon({ :user => current_ads_user, :model_type => 'Licserver', :model_id => licserver.id, :class => 'btn btn-default', :text => true })
						= link_to fa_icon('link', { :text => 'Permalink' } ), licserver_path(licserver), :class => 'btn btn-default'
					.info{ :data => { :licserver => licserver.id } }
