.row
	.col-xs-12
		.page-header
			%h1 Analysis of #{ @licserver.port}@#{ @licserver.server }  for the past 6 months
.row
	.cols-xs-12
		%table.table.table-striped.sortable
			%thead
				%th{ :data => { :sortkey => "0" } } Name
				%th{ :data => { :sortkey => "1" } } Total Current
				%th{ :data => { :sortkey => "2" } } Total Max
				%th{ :data => { :sortkey => "3" } } Data Points
				%th{ :data => { :sortkey => "4", :defaultsort => 'desc' } } %
			%tbody
				%tr.loading
					%td{ :colspan => 5 } #{ fa_icon('cog 4x spin') }
