.row
	.page-header.span10.offset1
	%h2 Servers
.row
	.span10.offset1
		%form.form-search
			%input#search-servers.input-block-level.search-query{ :placeholder =>'Search Servers...'}
.row
	.span10.offset1
		.accordion#server-listings{ :last => 0 } 
.row
	.span10.offset1
		%button.btn.btn-primary{ :data => { :toggle => 'modal', :target => '#new-licserver-modal' , :remote => '/licservers/new'} }
			New Licserver
#new-licserver-modal.modal.hide.fade{ :role => 'dialog' }
	.modal-header
		%button.close{ :type => 'button', :data => { :dismiss => 'modal' } }
			x
		%h3
			New Licserver
	.modal-body
	.modal-footer
		%button.btn{ :data => { :dismiss => 'modal' } }
			Close
		%button.btn.btn-primary#update-licserver
			Update
