.page-header
	%h1 
		- if ads_user_signed_in? then
			= link_to fa_icon(@watched.nil? || !@watched.active ? 'star-o' : 'star'), 
				ads_user_toggle_watch_path(:ads_user_id => current_ads_user.login, :model_type => 'Licserver', :model_id => @licserver.id), 
				:method => :post, :data => { :remote => true }, :id => 'watchlist'
		= @licserver.port.to_s + '@' + @licserver.server
	%ul.breadcrumb
		%li
			%a{ :href => licservers_path } Licservers
			%span.divider /
		%li
			= @licserver.port.to_s + '@' + @licserver.server
.row
	.span12.info{ :data => { :licserver => @licserver.id } }
