.row
	.col-xs-12
		.page-header
			%h1 
				- if ads_user_signed_in? then
					= watch_icon({ :user => current_ads_user, :model_type => 'Licserver', :model_id => @licserver.id })
				= @licserver.port.to_s + '@' + @licserver.server
		%ul.breadcrumb
			%li
				%a{ :href => licservers_path } Licservers
			%li
				= @licserver.port.to_s + '@' + @licserver.server
.row
	.col-xs-12.info{ :data => { :licserver => @licserver.id } }
