.form-group.licserver
	.col-xs-12
		%br
	.col-xs-3
		= select_tag 'monitored_type[]', options_for_select(Tag.all.map{ |x| x.title }.uniq.sort), { :class => 'monitored_cat form-control' }
	.col-xs-3
		= select_tag 'monitored_licserver[]', 
			options_for_select(Licserver.where(:id => Tag.where(:title => Tag.all.map{ |x| x.title}.uniq.sort.first).pluck(:licserver_id)  ).map{ |x| [x.port.to_s + '@' + x.server, x.id] } ), { :class => 'form-control' }
	.col-xs-6
		%button.btn.btn-danger.delete-licserver{ :type => 'button', :disabled => (schedule.monitored_obj.nil? || YAML::load(schedule.monitored_obj).count == 1) }
			%i.fa.fa-minus
