.panel.panel-default{ :id => false, :data => { :id => @rs.id } }
	.panel-heading{ :role => 'tab' }
		%h4.panel-title
			= link_to @rs.title, '#schedule' + @rs.id.to_s, 
				:data => { :toggle => 'collapse', :parent => '#schedule-accordion', :setup => 'false', :'report-schedule' => @rs.id }, 
				:class => 'accordion-toggle'
	.panel-collapse.collapse{ :id => 'schedule' + @rs.id.to_s, :data => { :id => @rs.id } }
		.panel-body
			.info-title
				%h4 Infomation
			.info
				= watch_icon( {:user => current_ads_user, :model_type => 'ReportSchedule', :model_id => @rs.id, :class => 'btn btn-default', :text => true })
				= link_to fa_icon('link', { :text => 'Permalink' }), report_schedule_path(@rs), :class => 'btn btn-default'
			= render :template => 'report_schedules/show.template', :locals => { :@schedule => @rs, :delete_enabled => true }
