.page-header
  %h1 Report Schedule

.row
  .span10
    .accordion#schedule-accordion
      - @schedules.each do |schedule|
        .accordion-group
          .accordion-heading
            = link_to schedule.title, '#schedule' + schedule.id.to_s, :data => { :toggle => 'collapse', 
              :parent => '#schedule-accordion' }, :class => 'accordion-toggle'
          .accordion-body.collapse{ :id => 'schedule' + schedule.id.to_s, :data => { :id => schedule.id } }
            .accordion-inner
              .tabbable
                %ul.nav.nav-tabs
                  %li.active
                    %a{ :data => { :toggle => 'tab' }, :href => '#reports' + schedule.id.to_s }Reports
                  %li
                    %a{ :data => { :toggle => 'tab', :target => '#settings' + schedule.id.to_s }, 
                      :href => '#settings' + schedule.id.to_s }Settings
                .tab-content
                  .tab-pane.active{ :id => 'reports' + schedule.id.to_s }
                  .tab-pane.setting{ :id => 'settings' + schedule.id.to_s , :data => { :id => schedule.id } }
                    = form_for schedule, :html => {:class => 'form-horizontal' }  do |f|
                      .control-group
                        %label.control-label Title
                        .controls
                          %input{:type => 'text', :value => schedule.title}  
                      .control-group
                        %label.control-label Scope
                        .controls
                          = select_tag 'time_scope', 
                            options_for_select(ReportSchedule::TIME_SCOPE.values, schedule.time_scope)
                      .control-group
                        %label.control-label Monitored Object
                        - YAML::load(schedule.monitored_obj).each do |key,value|
                          .controls{:style => 'padding:5px 0px;'}
                            = select_tag 'monitored_licserver', 
                              options_for_select(Licserver.all.map{ |x| [x.port.to_s + '@' + x.server, x.id] }, key)
                            %button.btn.btn-danger{ :type => 'button'}
                              %i.fa.fa-minus
                            %br
                        .controls
                          %button.btn.btn-primary{ :type => 'button' }
                            %i.fa.fa-plus
                      .control-group
                        %label.control-label Schedule
                        .controls
                          %input{:type => 'text', :value => schedule.schedule}  
                      .form-actions
                        %button.btn.btn-primary{ :type => 'button' } Update
.row
  .span10
    %button.btn.btn-large.btn-primary( type:button )New Schedule
