- unless @users.empty? || @users.nil? 
  - @users.each do |user|
    .accordion-group{ :data => { :init => 'false' , :id => user.id } }
      .accordion-heading
        %a.accordion-toggle{ :data => { :toggle => 'collapse', :parent => '#user-listings' }, :href => '#user' + user.id.to_s }
          = user.name
      .accordion-body.collapse{ :id => 'user' + user.id.to_s }
        .accordion-inner
          .links
            = link_to fa_icon('link'), user_path(user)
          %ul.nav.nav-tabs{ :id => 'user' + user.id.to_s + '-tabs' }
            - user.machines.each do |machine|
              %li
                %a{ :href => '#user' + user.id.to_s + '-' + 'machine' + machine.id.to_s, 
                  :data => { :toggle => 'tab', :'user-id' => user.id, :'machine-id' => machine.id } }
                  = machine.name
          .tab-content
            - user.machines.each do |machine|
              .tab-pane{ :id => 'user' + user.id.to_s + '-' + 'machine' + machine.id.to_s, 
                :data => { :'machine-id' => machine.id, :'user-id' => user.id } }
