- unless @users.empty? || @users.nil? 
	- @users.each do |user|
		.panel.panel-default{ :data => { :init => 'false' , :id => user.id } }
			.panel-heading{ :role => 'tab' }
				%h4.panel-title
					%a.accordion-toggle{ :data => { :toggle => 'collapse', :parent => '#user-listings' }, :href => '#user' + user.id.to_s } #{user.name}
			.panel-collapse.collapse{ :id => 'user' + user.id.to_s, :role => 'tabpanel' }
				.panel-body
					.links
						- if ads_user_signed_in? then
							= watch_icon({ :user => current_ads_user, :model_type => 'User', :model_id => user.id, :class => 'btn btn-default', :text => true })
						= link_to fa_icon('link', { :text => 'Permalink' }), user_path(user), { :class => 'btn btn-default' }
					%br
					= render :template => "users/show.template", :locals =>  { :@user => user }
