.row
	.col-xs-10.col-xs-offset-1
		.page-header
			%h2 Users
.row
	.col-xs-10.col-xs-offset-1
		%form{ :role => 'form' }
			.form-group
				%input#search-users.form-control{ :type => 'text',  :placeholder =>'Search Users...'}
.row
	.col-xs-10.col-xs-offset-1
		.panel-group#user-listings 
			= fa_icon('cog spin 4x')
.row
	.col-xs-10.col-xs-offset-1
		%button.btn.btn-primary#load-more-users{ :type => 'button',  :data => { :mode => 'default'}  } Load More Users
