.page-header
  %h1
    = @users.first.name
  %ul.breadcrumb
    %li
      %a{ :href => users_path } Users
      %span.divider /
    %li.active
      = @users.first.name
.row
  .span10.offset1
    .accordion#user-listings 
      = render 'accordion', :local => { :users => @users }
