.page-header
	%h1
		= @user.name
	%ul.breadcrumb
		%li
			%a{ :href => users_path } Users
			%span.divider /
		%li.active
			= @user.name
.row
	#user-info.span12
		= render :template => 'users/show.template', :locals => { :@user => @user }
