.row
	%h2.page-header Top Users
	%ul.breadcrumb
		%li #{ link_to "Users", users_path }
		%li.active Top Users
.row
	%div{:role => 'tabpanel' }

		%ul.nav.nav-tabs{ :role => 'tablist' }
			%li.active{ :role => 'presentation' }
				%a{ :href => '#hour', :'aria-controls' => 'hour', :role => 'tab', :data => { :toggle => 'tab', :interval => 'hour' } } Last Hour
			%li{ :role => 'presentation' }
				%a{ :href => '#day', :'aria-controls' => 'hour', :role => 'tab', :data => { :toggle => 'tab', :interval => 'day' } } Last Day
			%li{ :role => 'presentation' }
				%a{ :href => '#week', :'aria-controls' => 'hour', :role => 'tab', :data => { :toggle => 'tab', :interval => 'week' } } Last Week
			%li{ :role => 'presentation' }
				%a{ :href => '#month', :'aria-controls' => 'hour', :role => 'tab', :data => { :toggle => 'tab', :interval => 'month' } } Last Month

		.tab-content
			.tab-pane.active#hour{ :role => 'tabpanel'}
				%i.fa.fa-cog.fa-spin.fa-4x
			.tab-pane#day{ :role => 'tabpanel'}
			.tab-pane#week{ :role => 'tabpanel'}
			.tab-pane#month{ :role => 'tabpanel'}
