.row
	.col-xs-12
		%h1.page-header Feature Uniquess Exempted
	.col-xs-12
		.form
			%table.table.table-striped
				%thead
					%tr
						%th.col-xs-1 Select
						%th.col-xs-11 Username
				%tbody
			%button.btn.btn-danger{ :type => 'button' } Delete
	.col-xs-12
		%h3.page-header Add User
		%form
			.form-group
				%input#search-users.form-control{ :type => 'text', :placeholder => 'Type Username to exempt' }
			%button.btn.btn-primary{ :type => 'button' } Add
