<div id="footer_box">
  <div id="footer_inner_box">
    <div title="frontpage" id="footer_line"><%= link_to "f",welcome_index_path %></div>
    <div title="about" id="footer_line"><%= link_to "a",welcome_about_path %></div>
    <div title="tags" id="footer_line"><%= link_to "#",tags_path %></div>
    <div title="License Server" id="footer_line"><%= link_to "@",licservers_path %></div>
  </div>
</div>
