.row
	.col-xs-12
		.page-header
			%h1 
				Fireworks Idle Client
				%small Help retain your license hold through fireworks idle client
.row
	.col-xs-12
		%h2 Mechanism
		%p
			%ul
				%li Download and install the client
				%li Configure the client so it points to your fireworks server
				%li That's it
		%p The client will report your idle activities to your fireworks server. If fireworks has set some license server to be monitored for idle activity, you should be spared if you installed the client and you haven't been idle for over 30 minutes.
.row
	.col-xs-12
		%h2 Download Idle Client
		.row
			.col-xs-4
				.thumbnail
					%img{ :src => 'http://placehold.it/400x300', :alt => '' }
					.caption
						%h3 Windows
						%p #{link_to 'Windowx Xp/Vista/7/8', welcome_download_client_path(:type => 'Windows'), :class => 'btn btn-primary' }

			.col-xs-4
				.thumbnail
					%img{ :src => 'http://placehold.it/400x300', :alt => '' }
					.caption
						%h3 Mac OS X
						%p #{ link_to 'Mac OS X 10.8', welcome_download_client_path( :type => 'Mac OS X' ), :class => 'btn btn-primary' }
