- if !ads_user_signed_in? then
  .jumbotron.jumbotron-fluid{ :style => "background:url(9482.jpg); height:100vh; background-size: cover; color:white;"}
    .container
      %h1.display-3 Fireworks
      %p.lead Flexera and Reprise License Monitoring
.jumbotron.jumbotron-fluid
  .container-fluid
    %fieldset.form-group
      %input.form-control#search-query{ :type => "text", :placeholder => "Search ... "}
    #tags-target{ :'data-source' => tags_path(:format => :template) }
      %i.fa.fa-cog.fa-spin.fa-2x
