<div class="hero-unit">
  <h1>Welcome to Fireworks!</h1>
  <p> All your FlexLicenses, Monitored</p>
  <p><%= link_to "Enter",tags_path , :class=>'btn btn-large pull-right'%></p>
</div>
<div class="row-fluid">
  <ul class="thumbnails">
    <li class="span6">
      <div class="thumbnail">
        <img src="http://placehold.it/480x270" alt="" \>
        <div class="caption">
          <h3>How it works</h3>
          <p>An explaination of how fireworks works</p>
          <p><%= link_to 'Learn More', welcome_tech_path, :class=>'btn' %></p>
        </div>
      </div>
    </li>
    <li class="span6">
      <div class="thumbnail">
        <img src="http://placehold.it/480x270" alt="" \>
        <div class="caption">
          <h3>Idle Client</h3>
          <p>Client to monitor users' idle item and report back to the master server. Server will kill idle users to free up your licenses</p>
          <p>
            <% if !@clientOS.nil? then %>
              <%= link_to 'Download for '+@clientOS, welcome_download_client_path(:type => @clientOS), :class=>'btn'%>
            <% end %>
          <p><small><%= link_to 'Download for other platforms', welcome_download_client_path %></small></p>
        </div>
      </div>
    </li>
  </ul>
</div>

