.container-fluid
  .row{ :style => "padding-top:70px;"}
    .col-xs-12
      %fieldset.form-group
        %input.form-control{ :type => "text", :placeholder => "Search ... "}
  .row
    .col-xs-12
      %p Search Results here
