.row
	.col-xs-12
		.page-header
			%h1 
				Fireworks Help
				%small or how things works
.row
	.col-xs-4
		.thumbnail
			.caption
				%h2 Fireworks
				%p Fireworks Concepts and Features
				%p For best results, please use this web app with the latest browsers from Microsoft, Google, Apple and Mozilla.
	.col-xs-4
		.thumbnail
			.caption
				%h2 Licsense Servers
				%p Licserver Concept
				%p Talk about add, delete and modify Licserver
	.col-xs-4
		.thumbnail
			.caption
				%h2 Tags
				%p Tags Concept
				%p How to add, delete and modify tags
	.col-xs-4
		.thumbnail
			.caption
				%h2 Idle Client
				%p Idle Client Concept
				%p Deploying to client, configuration
	.col-xs-4
		.thumbnail
			.caption
				%h2 Watch List
				%p Watch List Concept
				%p Add , remove items on Watch List
	.col-xs-4
		.thumbnail
			.caption
				%h2 Server settings
				%p Database Settings
				%p LDAP / Active Directory Settings
