<div class="page-header">
  <h1>Fireworks Help<small> or how things works</small></h1>
</div>
<div>
  <h2>Viewing Fireworks</h2>
  <p>For best results, please use this web app with the latest browsers from Microsoft, Google, Apple and Mozilla.</p>
</div>
<div>
  <h2>License Servers</h2>
  <p>
    License Servers is where we collect data on usage. Fireworks only supports Flex License Manager license server at the momment. 
  </p>
  <ul class="thumbnails">
    <li class="span4">
      <div class="thumbnail">
        <img src="http://placehold.it/400x300" alt="" \>
        <h3>Add Server</h3>
        <p>
          <ul>
            <li>At the top menu, click on 'Tags' or 'Menu'</li>
            <li>At the Tags or Servers page, click on the big blue button, 'New Licserver'</li>
            <li>You will arrive at a new page to create, just enter in this format (<i>port@server, @server</i> or <i>server</i>) and click 'Create'</li>
          </ul>
        </p>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <img src="http://placehold.it/400x300" alt="" \>
        <h3>Delete Server</h3>
        <p>
          <ul>
            <li>At the top menu, click on 'Server'</li>
            <li>At the listing, delete which servers that you hate</li>
          <ul>
        </p>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <img src="http://placehold.it/400x300" alt="" \>
        <h3>Modify Server</h3>
        <p>
          <ul>
            <li>You can't really modify the server, just delete it and create a new one</li>
          </ul>
        </p>
      </div>
    </li>
  <ul>
</div>
<div>
  <h2>Tags</h2>
  <p>Tags help organized all the lic server by keywords. A license servers can have many tags and a tag can belong to multiple servers<p>
  <ul class="thumbnails">
    <li class="span4">
      <div class="thumbnail">
        <img src="http://placehold.it/400x300" alt="" \>
        <h3>Add/Delete Tags</h3>
        <p>
          <ul>
            <li>Select a server ('Top Menu' -> 'Server' -> Pick a Server)</li>
            <li>At the server info page, in the tags section, type in the tags (seperated by spaces) and press enter or click 'Create Tag'</li>
            <li>New unique tags will be added to the server</li> 
            <li>To delete a tag, on the tag listing, just click the 'X' next to a tag</li>
          </ul>
        </p>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <img src="http://placehold.it/400x300" alt="" \>
        <h3>View License Servers by Tags</h3>
        <p>
          <ul>
            <li>Just go tag menu (Top Menu -> Tags)</li>
            <li>Select a tag and then it will show license servers that tied to that tags</li>
          </ul>
        </p>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <img src="http://placehold.it/400x300" alt="" \>
        <h3>Modify Tags</h3>
        <p>You can't really modify it, just delete the tags and create a new one</p>
      </div>
    </li>
  <ul>
</div>
<div>
  <h2>Idle Client</h2>
  <p>Idle Client is a small program installed on your machine to report your last keyboard/mouse event to the server. The client will ensure your license session will not be killed as long you are not idle for more than 30 minutes.</p>
  <p>The benefit of the idle client is that it will help to keep the license utilization low by ensuring that unused license will be released for other users. 
  </p>
  <ul class="thumbnails">
    <li class="span4">
      <div class="thumbnail">
        <img src="http://placehold.it/400x300" alt="" \>
        <h3>Download Idle Client</h3>
        <p>
          <ul>
            <li>If you go to the front page, Fireworks will detect your client and you help download the appropiate client</li>
            <li>However, if you want to get clients for other platforms, you can go to <%= link_to 'here',welcome_download_client_path %> and download the client for the platform you want</li>
          </ul>
        </p>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <img src="http://placehold.it/400x300" alt="" \>
        <h3>Install and configure</h3>
        <p>
          <ul>
            <li>To install, simply unpack, click setup and follow onscreen instruction</li>
            <li>To configure, simply double click on the client icon in the system tray and enter the ip address/hostname of the fireworks server. <i>hostname:port</i> format is acceptable</li>
          </ul>
        </p>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <img src="http://placehold.it/400x300" alt="" \>
        <h3>Configure License Server to use Idle Client</h3>
        <p>
          <ul>
            <li>Go to server info page (Top Menu -> 'Server' -> Select a server)</li>
            <li>Go to Setting section and click on settings button</li>
            <li>A new window will pop-up. Check the 'Monitor this server for idle users' option</li>
          </ul>
        </p>
      </div>
    </li>
</div>
