.row
	.span10.offset1
		%form.form-search
			%input#search-tags.input-block-level.search-query{ :placeholder => 'Search...' }
.row
	.span10.offset1
		.panel-group#tags-accordion
			%i.fa.fa-cog.fa-4x.fa-spin
