<% stack = Array.new %>
<% stack.push link_to "Fireworks", tags_path %>
<%= generate_header(stack) %>
<div class="well well-large">
  <% if @tag.empty? then %>
    No Servers yet..
  <% else %>
    <% @tag.each do |t| %>
      <%= link_to t.title,tag_path(t.title.to_s),:class=>'btn btn-large' %>
    <% end %> 
  <% end %>
</div>
<div class="span4 offset4 "><%= link_to "New Server",new_licserver_path,:class=>'btn btn-large btn-primary btn-block' %></div>
