.row
	.col-xs-12.col-md-10.col-md-offset-1
		%form.form
			.form-group.has-feedback
				%input#search-tags.form-control.search-query{ :type => 'text', :placeholder => 'Search...' }
.row
	.col-xs-12.col-md-10.col-md-offset-1
		.panel-group#tags-accordion
			%i.fa.fa-cog.fa-4x.fa-spin
