.row-fluid
	.col-xs-12
		.info
			%h3 Info 
			%p Tag info here
		.server-listings
			%h3 Listings
			%div{ :role => 'tabpanel' }
				%ul.nav.nav-tabs{ :id => @tag, :role => 'tablist' }
					- @licservers.each do |licserver|
						%li{ :role => 'presentation' }
							%a{ :href => '#' + @tag + '-' + licserver.id.to_s, :data => { :toggle => 'tab', :licserver => licserver.id, 
								:init => 'false', :tag => @tag } }
								= licserver.port.to_s + '@' + licserver.server
				.tab-content
					- @licservers.each do |licserver|
						.tab-pane{ :id => @tag + '-' + licserver.id.to_s, :role => 'tabpanel' }
