<% stack = Array.new %>
<% stack.push link_to "Fireworks", tags_path %>
<% stack.push params[:id] %>
<%= generate_header(stack) %>
<div class="well well-large">
  <% @licserver.each do |lic| %>
    <%= link_to lic.server,licserver_path(lic.id),:class=>'btn btn-large' %>
  <% end %>
</div>
