%caption
  %strong Historical User Listings on #{selected_time.localtime}
%thead
  %tr
    %th User Info    
%tbody
  - if users.empty? then
    %tr
      %td No Users Detected
  - else
    - users.each do |user|
      %tr
        %td
          = link_to(user[:username] , user_path(user[:user_id])) + '@' + user[:machinename]
