- features.each do |feature|
	.accordion-group{ :data => { :'init-feature' => 'false', :licserver => licserver.id, :feature => feature[:name] } }
		.accordion-heading
			%a.accordion-toggle{ :data => { :toggle => 'collapse', :parent => '#licserver-' + licserver.id.to_s + '-features-listing' }, :href => '#licserver-' + licserver.id.to_s + '-features-' + feature[:name] }
				= feature[:name]
		.accordion-body.collapse{ :id => 'licserver-' + licserver.id.to_s + '-features-' + feature[:name] }
			.accordion-inner
				.features-watch
				.features-info
					- if ads_user_signed_in? then
						- watched = current_ads_user.watch_lists.where(:model_type => 'FeatureHeader', :model_id => feature[:id]).first
						= link_to fa_icon(watched.nil? || !watched.active ? 'star-o' : 'star'), 
							ads_user_toggle_watch_path(:ads_user_id => current_ads_user.login, :model_type => 'FeatureHeader', :model_id => feature[:id]), 
							:method => :post, :data => { :remote => true }, :id => 'watchlist', :class => 'btn'
					= link_to fa_icon('info', :text => 'More Info'), licserver_feature_path(licserver.id, feature[:name]), :class => 'btn' 
				.features-graph
