- if users.empty? then
	%tr
		%td(colspan=2) No Users detected
- else
	- users.each do |user|
		- theUser = User.find_by_id user[:user_id]
		- if !theUser.nil? then
			- theAdsUser = AdsUser.find_by_id(theUser.ads_user_id)
		%tr{ :user => { :id => user[:handle] }	}
			%td
				= link_to(user[:user], user[:user_id].nil? ? '#' : user_path(user[:user_id]) )	+ '@' + user[:machine] + ' since ' + user[:since].strftime("%A, %l:%M%P %d-%b-%Y (%Z)") + ( user[:lic_count].nil? ? '' : ( ' (' + user[:lic_count] + ' licenses)' ) )
			- if theAdsUser.nil? then
				%td No Department
				%td No Company
			- else
				%td #{theAdsUser.ads_department.name}
				%td #{theAdsUser.ads_department.company_name}
			- if ads_user_signed_in? then
				%td
					= link_to "X", licserver_feature_kill_path( licserver, feature , :handle => user[:handle],
						:host_id => user[:host_id], :port_id => user[:port_id], :user => user[:user]), :class => 'close kill_user', 
						:remote => true, :class => 'kill-user'
