.row-fluid
	.span12
		%h3 Monthly Frequency
		.monthly-graph{ :data => { :licserver => @licserver.id, :feature => params[:id] } }
.row-fluid
	.span12
		%h3 Daily Usage
		.daily-graph{ :data => { :licserver => @licserver.id, :feature => params[:id] } }
			.graph
			.daily-graph-controls
				%button#dump-everything.btn{ :disabled => true }
					%i.fa.fa-bar-chart-o
					Load all Data
				%button#load-older.btn{ :disabled => true }
					%i.fa.fa-fast-backward 
					Load Older Data
				= link_to fa_icon('download', :text => 'Download XML Data'), 
					licserver_feature_data_dump_path(@licserver.id, params[:id], :format => :xml) , :class => 'btn', :format => :xml
		%br
.row-fluid
	.span12
		%ul.nav.nav-tabs#user-tabs
			%li.active
				%a{ :href => '#current-users', :data => { :toggle => 'tab' } } Current
			%li
				%a{ :href => '#historical-users' , :data => { :toggle => 'tab' } } Historical
		.tab-content
			.tab-pane.active#current-users
				%table#user-listings.table.table-striped.table-hover{ :data => { :licserver => @licserver.id, :feature => params[:id] } }
					%caption
						%strong User listings
						%button#reload-users.btn.btn-info
							%i.fa.fa-refresh
						- if ads_user_signed_in? then
							%button#nuke-users.btn.btn-danger{ :type => 'button', :disabled => 'disabled', :data => { :toggle => 'modal', :target => '#nuke-' + @licserver.id.to_s + '-' + params[:id] } }
								= fa_icon('bomb', { :text => 'Nuke\'em' }) 
							.modal.hide.fade{ :id => 'nuke-' + @licserver.id.to_s + '-' + params[:id] }
								.modal-header
									%button.close{ :type => 'button',	:data => { :dismiss => 'modal' }, :'aria-hidden' => 'true' } &times; 
									%h3 Nuke'em
								.modal-body
									%p{ :style => 'text-align:left;' } <strong>Warning:</strong> This action will kill every users that is using this feature. To confirm that you really want to do this, please type the name of the feature in the input box below
									.nuke-alert-box
									%input.input-block-level#nuke-confirmation-box{ :type => 'text' , :placeholder => 'Type feature name here...' }
								.modal-footer
									%a.btn{ :href => '#', :data => { :dismiss => 'modal' }  } Close
									%a.btn.btn-danger#really-nuk-em{ :href => '#', :data => { :feature => params[:id] } } #{ fa_icon('bomb', {:text => 'Nuke\'em' }) }
						#user-list-last-update
					%thead
						%tr
							%th User Info
							- if ads_user_signed_in? then
								%th.pull-right Kill?
					%tbody
						%tr
							%td.loading-users( colspan=2 )
								%i.fa.fa-spinner.fa-spin.fa-4x
			.tab-pane#historical-users
				%table#historical-user-listings.table.table-striped.table-hover{ :data => { :licserver => @licserver.id, 
					:feature => params[:id] } }
					%caption
						%strong Historical User Listing
					%thead
						%tr
							%th User Info
					%tbody
						%tr
							%td.historical-users-list( colspan=2 ) Click on the graph to get historical user listings
