- if ads_user_signed_in? then
	.row
		.col-xs-12
			%h3 Options
			%form{:method => 'post', :action => licserver_feature_toggle_uniq_users_path(@licserver.id, params[:id]) }
				.checkbox
					%label
						%input{ :type => 'checkbox', :checked => @single_users } Unique Users: Automatically kill users that uses multiple seats of this license
				%button.btn.btn-primary{ :type => 'submit' } Update
			%p
				%a.btn.btn-default{ :href => licserver_feature_usage_report_path(@licserver.id, params[:id]) } Usage Report
.row
	.col-xs-12
		%h3 Monthly Frequency
		.monthly-graph{ :data => { :licserver => @licserver.id, :feature => params[:id] } }
.row
	.col-xs-12
		%h3 Daily Usage
		.daily-graph{ :data => { :licserver => @licserver.id, :feature => params[:id] } }
			.graph
			.daily-graph-controls
				%button#dump-everything.btn.btn-default{ :disabled => true }
					%i.fa.fa-bar-chart-o
					Load all Data
				%button#load-older.btn.btn-default{ :disabled => true }
					%i.fa.fa-fast-backward 
					Load Older Data
				= link_to fa_icon('download', :text => 'Download XML Data'), 
					licserver_feature_data_dump_path(@licserver.id, params[:id], :format => :xml) , :class => 'btn btn-default', :format => :xml
		%br
.row
	.col-xs-12
		%ul.nav.nav-tabs#user-tabs
			%li.active
				%a{ :href => '#current-users', :data => { :toggle => 'tab' } } Current
			%li
				%a{ :href => '#historical-users' , :data => { :toggle => 'tab' } } Historical
		.tab-content
			.tab-pane.active#current-users
				%table#user-listings.table.table-striped.table-hover{ :data => { :licserver => @licserver.id, :feature => params[:id] } }
					%caption.text-center
						%strong User listings
						%button#reload-users.btn.btn-info
							%i.fa.fa-refresh
							Refresh
						- if ads_user_signed_in? then
							%button#nuke-users.btn.btn-danger{ :type => 'button', :disabled => 'disabled', :data => { :toggle => 'modal', 
								:target => '#nuke-' + @licserver.id.to_s + '-' + params[:id] } }
								= fa_icon('bomb', { :text => 'Nuke\'em' }) 
							.modal.fade{ :id => 'nuke-' + @licserver.id.to_s + '-' + params[:id] }
								.modal-dialog
									.modal-content
										.modal-header
											%button.close{ :type => 'button',	:data => { :dismiss => 'modal' }, :'aria-hidden' => 'true' } &times; 
											%h4.modal-title Nuke'em
										.modal-body
											%p.text-left <strong>Warning:</strong> This action will kill every users that is using this feature. To confirm that you really want to do this, please type the name of the feature in the input box below
											.nuke-alert-box
											.nuke-input-box
												%input.form-control#nuke-confirmation-box{ :type => 'text' , :placeholder => 'Type feature name here...' }
										.modal-footer
											%a.btn.btn-default{ :href => '#', :data => { :dismiss => 'modal' }  } Close
											%a.btn.btn-danger#really-nuk-em{ :href => '#', :data => { :feature => params[:id] } } #{ fa_icon('bomb', {:text => 'Nuke\'em' }) }
						#user-list-last-update
					%thead
						%tr
							%th User Info
							- if ads_user_signed_in? then
								%th Kill?
					%tbody
						%tr
							%td.loading-users( colspan=2 )
								%i.fa.fa-cog.fa-spin.fa-4x
			.tab-pane#historical-users
				%table#historical-user-listings.table.table-striped.table-hover{ :data => { :licserver => @licserver.id, 
					:feature => params[:id] } }
					%caption
						%strong Historical User Listing
					%thead
						%tr
							%th User Info
					%tbody
						%tr
							%td.historical-users-list( colspan=2 ) Click on the graph to get historical user listings
