- stack = Array.new 
- stack.push link_to "Fireworks", tags_path 
- stack.push link_to "Servers", licservers_path 
- stack.push link_to @licserver.port.to_s + '@' + @licserver.server, licserver_path(params[:licserver_id]) 
- stack.push link_to "Features", licserver_features_path(params[:licserver_id]) 
- stack.push params[:id] + ' Usage' 
= generate_header(stack) 
.row
	.page-header
		%h2 
			- if ads_user_signed_in? then
				= link_to fa_icon(@watched.nil? || !@watched.active ? 'star-o' : 'star'), 
					ads_user_toggle_watch_path(:ads_user_id => current_ads_user.login, :model_type => 'FeatureHeader', :model_id => @feature.id), 
					:method => :post, :data => { :remote => true }, :id => 'watchlist'
			= params[:id]
= render :template => "features/show.template"
