%table.table
  - if @users.nil? then
    %tr
      %td{:colspan => 2} No Users Detected
  - else
    %tr
      %td{:colspan => 2} Last Updated: #{ DateTime.now }
    - @users.each do |user|
      %tr
        %td #{user[:user]}@#{user[:machine]} since #{user[:since]}
        %td X
