<div class="row">
  <div class="span12 page-header">
    <h2>Configure Reports</h2>
  </div>
</div>

<div class="row">
  <div class="span12">
    <table class="table table-striped">
      <thead>
        <th>Schedule Name</th>
        <th>Schedule</th>
        <th>Monitored Objects</th>
      </thead>
      <tbody>
        <% if @report_schedules.nil? || @report_schedules.empty? then %>
          <tr><td class="text-center" colspan="3">Nothing yet</td></tr>
        <% else %>
          <% @report_schedules.each do |schedule| %>
            <tr>
              <td><%= link_to schedule.title, reports_schedule_path(schedule.id) %></td>
              <td><%= schedule.schedule %></td>
              <td><%= 
                Licserver.find( YAML::load(schedule.monitored_obj).keys.map{|x| x.to_s }).
                  map{ |x| link_to x.port.to_s+'@'+x.server, licserver_path(x.id) }.join(',').html_safe
              %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <div>
      <%= link_to fa_icon('plus', text:'New'), reports_schedule_new_path, :class=>'btn btn-large btn-primary' %>
    </div>
  </div>
</div>
